
@{
    ViewBag.Title = "Registered Students";
}

<h2>Registered Students</h2>
<table class="table table-hover">
    <tr>
        <th>
            Sl
        </th>
        <th>
            Student Name
        </th>
        <th>
            Student ID
        </th>
    </tr>
    <tr>
        <td>
            1
        </td>
        <td>
            Sajib Das
        </td>
        <td>
            161-35-1546
        </td>
    </tr>
    <tr>
        <td>
            2
        </td>
        <td>
            Sagar barai
        </td>
        <td>
            161-35-1546
        </td>
    </tr>
</table>

