
@{
    ViewBag.Title = "Available courses";
}

<h2>Available courses</h2>
<input type="text" value="Swe 412 - Artificial Intelligence with lab" />
<br />
<input type="text" value="Swe 424 - Neumerical Analysis with lab" />
<br />
<input type="text" value="Swe 413 -Management Information system " />
<br />
<input type="text" value="Swe 333 - Object oriented software devolopment" />
<br />
<input type="text" />
<br />
<p id="msg"></p>
<input type="submit" value="Register" onclick="Show()"/>
<script>
    function Show() {
        document.getElementById("msg").innerHTML ="Successfully Registered"
    }
</script>



